:root {
  --bg: #2c2335;
  --bg2: #1D0229;
  --fg: white;
  --link: #FF00D7;
  --birdLink: #FBDB32;
  --codebg: #202020;
  --whiskybg: #ae265f;
}

@font-face {
  font-family: 'General';
  src: url('/fonts/Nunito-SemiBold.ttf');
}

@font-face {
  font-family: 'Mono';
  src: url('/fonts/apl385.ttf');
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--bg);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%231d0229' stroke-width='0.05' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='rotate(191 1000 750) scale(30.65) translate(-967.37 -725.53)'%3E%3Cuse fill='%2322072d' href='%23s' y='2'/%3E%3Cuse fill='%2322072d' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23260c32' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23260c32' href='%23s'/%3E%3Cuse fill='%232b1136' href='%23s' x='2'/%3E%3Cuse fill='%232b1136' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='rotate(191 1000 750) scale(30.65) translate(-967.37 -725.53)'%3E%3Cg fill='%232f163a'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(191 1000 750) scale(30.65) translate(-967.37 -725.53)'%3E%3Cg fill='%232f163a'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(191 1000 750) scale(30.65) translate(-967.37 -725.53)'%3E%3Cg fill='%23341b3e'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='rotate(191 1000 750) scale(30.65) translate(-967.37 -725.53)'%3E%3Cg fill='%231d0229'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23382043'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='rotate(191 1000 750) scale(30.65) translate(-967.37 -725.53)'%3E%3Cg fill='%23ff00d7'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='rotate(191 1000 750) scale(30.65) translate(-967.37 -725.53)'%3E%3Cg fill='%23ff00d7'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='rotate(191 1000 750) scale(30.65) translate(-967.37 -725.53)'%3E%3Cg fill='%23ff00d7'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: var(--fg);
  font-family: 'General', sans-serif;
}

#wrapper {
  background-color: var(--bg2);
  width: 800px;
  flex: 1;
  padding: 1rem;
}

@media screen and (max-width: 1024px) {
  #wrapper {
    width: 95%;
  }
}

@media screen and (max-width: 400px) {
  #wrapper {
    width: 90%;
  }
}

header {
  display: flex;
  align-items: stretch;
  margin-bottom: 1rem;
}

header h1 {
  text-shadow: 2px 2px var(--link);
}

header nav {
  flex-grow: 1;
  text-align: right;
}

header nav ul li {
  list-style-type: none;
  display: inline;
  margin-left: 1.5rem;
}

header nav ul li a {
  text-decoration: none;
}

@media screen and (max-width: 520px) {
  header nav ul li {
    display: block;
  }
}

pre {
  font-family: 'Mono', monospace;
  background-color: var(--codebg);
  padding: 0.5rem;
  max-height: 400px;
  overflow-y: scroll;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 11pt;
}

code {
  font-family: 'Mono', monospace;
}

p {
  padding-bottom: 0.5rem;
}

a:link, a:visited {
  color: var(--link);
}

a:hover {
  text-decoration: none;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 520px) {
  .main {
    display: block;
  }
}

article > ul {
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

ul.indexList > li {
  list-style-type: none;
  padding: 3px;
}

ul.indexList > li > a {
  display: block;
  color: var(--link);
  text-decoration: none;
  font-size: 16pt;
  line-height: 1.2rem;
}

.indexListDate {
  color: var(--fg);
  font-size: 10pt;
}

ul#birdList {
  margin-left: 1rem;
}

ul#birdList > li > a {
  color: var(--birdLink);
  text-decoration: none;
}

ul.links > li > a {
  text-align: right;
  font-size: 12pt;
}

.lh2 {
  font-family: 'Mono';
  margin-bottom: 1rem;
}

.rh2 {
  font-family: 'Mono';
  text-align: right;
  margin-bottom: 1rem;
}

footer {
  text-align: center;
  margin-top: 2rem;
}

.whisky {
  padding: 1rem;
  width: 80%;
  background-color: var(--whiskybg);
  border-radius: 7px;
}

.whisky summary {
  cursor: pointer;
  font-size: 14pt;
}

.whisky ul li {
  margin-left: 1rem;
}
